.auth-container {
  display: flex;
  width: 95%;
  justify-content: center;
  text-align: center;
  margin: auto;
  min-height: 60vh;
}

.auth-container > .div2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.auth-container .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container img {
  width: 100px;
  margin-bottom: 20px;
}

.auth-container input,
select {
  border: 2px solid gray;
  background: none;
  padding: 15px 20px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.auth-container input::placeholder {
  color: rgb(77, 75, 75);
}

.auth-container select {
  color: rgb(77, 75, 75);
}

.submit-btn {
  background-color: rgb(232 14 15);
  color: white;
  padding: 15px 20px;
  width: 100%;
  font-weight: bold;
  border: 0;
  margin-bottom: 20px;
}

.password-input-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.password-input-container input{
  margin: 0;
  border-right: 0;
}

.password-input-container button{
  padding: 15px;
}
.link {
  text-decoration: none;
  color: rgb(232 14 15);
  font-weight: bold;
}

.auth-container .div1 {
  display: none;
}

.auth-container > .single-div {
  width: 90% !important;
}

@media screen and (min-width: 700px) {
  .auth-container {
    width: 100%;
  }

  .auth-container .div1 {
    display: block;
  }

  .auth-container .div1 img {
    width: 100%;
    height: 100%;
  }

  .auth-container > div {
    width: 50%;
  }

  .auth-container .div2 {
    padding: 5%;
  }

  .auth-container > .single-div {
    width: 50% !important;
  }
}
