:root{
    --color1: #2d2f31;
    --color2: rgb(232 14 15)
}

.dashboard .top-banner{
    background: var(--color1);
    font-size: 30px;
    color: white;
    padding: 30px;
}

.dashboard .top-banner .profile{
    display: flex;
    align-items: center;
}

.dashboard .top-banner .profile img{
    margin-right: 30px;
}


.primary-btn{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
   
  }

  .dashboard .search-input{
    border: 1px solid gray;
    padding: 10px;
    float: right;

  }
.main-section{
    max-width: 1200px;
    margin: auto;
}

.dashboard .section1{
    border: 1px solid rgb(202, 199, 199);
    padding: 30px;
    margin: 30px 20px;
}

/* cart */

/* .cart-page{
margin-top: 50px;
} */

.cart-page .section1{
    border: 1px solid rgb(202, 199, 199);
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.edit-profile{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.edit-profile .profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.edit-profile>div{
    box-shadow: 0 0 10px rgb(226, 224, 224);
    padding: 20px;
    margin-bottom: 20px;
}

.edit-profile .panel1{
text-align: center;
}

.edit-profile input {
    border: 2px solid gray;
    background: none;
    padding: 15px 20px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.edit-profile input::placeholder {
    color: black;
}

.edit-profile label{
    margin-bottom: 10px;
    display: block;
}


@media screen and (min-width: 700px) {
    .dashboard .top-banner{
        padding: 40px 100px;
    }

    .cart-page{
        width: 90%;
        margin: auto;
    }

    .edit-profile{
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 3%;
        
    }

    .edit-profile>div{
        margin: 20px;
        padding: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .edit-profile{
        /* grid-template-columns: 20% 45%; */
        max-width: 1000px;
        margin: auto;
    }
}

.link-btn{
    background-color: var(--color1);
    display: block;
    margin: 20px 0;
    padding: 10px;
    color: white;
}