.upper-nav {
  background: #eceb98;
  height: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #1c1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-nav span {
  font-weight: 500;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 20px rgb(211, 210, 210);
}

header img{
    width: 100%;
}

header h1{

  color: rgb(232 14 15);
}

.header-logo{
  text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc; /* Add border for visual clarity */
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 8px;
  }
  
  .search-icon {
    margin-right: 5px; /* Add some space between the icon and the input */
  }
  
  .search-input {
    flex: 1; /* Allow the input to grow to fill the remaining space */
    border: none; /* Remove border from input */
    outline: none; /* Remove default outline */
  }

  .header-links span{
    margin: 0 10px;
  }
  
.header-aside{
    display: flex;
    align-items: center;
}
  .profile-image{
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }


  header button{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    .search-bar, .header-links {
      display: none;
    }

    .upper-nav {
      padding: 10px;
    }
  }