.upper-nav {
  background: #eceb98;
  height: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #1c1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-nav span {
  font-weight: 500;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px rgb(211, 210, 210);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
background-color: white;
}

header img{
    width: 100%;
}

header h1{

  color: rgb(232 14 15);
}

.header-logo{
  text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc; /* Add border for visual clarity */
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 8px;
  }
  
  .search-icon {
    margin-right: 5px; /* Add some space between the icon and the input */
  }
  
  .search-input {
    flex: 1; /* Allow the input to grow to fill the remaining space */
    border: none; /* Remove border from input */
    outline: none; /* Remove default outline */
  }

  .header-links span{
    margin: 0 10px;
  }
  
.header-aside{
    display: flex;
    align-items: center;
}
  .profile-image{
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }


  header button{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  button.btn2{
    border: 2px solid var(--color2);
    background-color: white;
    color: var(--color2);
  }

  .header-icons{
    font-size: 20px;
    cursor: pointer;
  }

  .header-icons:hover{
    color: var(--color2);
  }

  .header-icons2{
    display: none;
  }

  .mobile-nav{
    position: fixed;
    top: 61px;
    backdrop-filter: blur(10px);
    height: 100%;

    width: 100%;
    z-index: 9;
  }

  .sub-mobile-nav{
    background-color: white;
    width: 60%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px gray;
  }
 

  .mobile-nav button{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
  }

  .mobile-nav  button.btn2{
    border: 2px solid var(--color2);
    background-color: white;
    color: var(--color2);
  }

  .mobile-nav .nav-link{
    border-bottom: 1px solid gray;
    padding: 10px 0;
  }

  /* Cart panel */

  .cartPanel{
    position: fixed;
    top: 65px;
    backdrop-filter: blur(10px);
    min-height: 100px;
    padding: 20px;

    width: 300px;
    z-index: 9;
    background-color: white;
    right: 15px;
  }

  main{
    margin-top: 65px;
  }


  /* tutor dashboard layout */

  .tutor .main{
 
    min-height: 550px;
  }
  .tutor .nav{
   display: none;
  }




  @media screen and (max-width: 700px) {
    .header-links {
      display: none;
    }

    .upper-nav {
      padding: 10px;
    }

    .header-btn{
      display: none;
    }

    .profile-image{
      margin-left: 10px;
    }
  }

  @media screen and (min-width: 700px) {

    header{
      padding: 15px;
    }

    .header-icons{
      margin: 0 10px;
    }

    .header-icons2{
      display: inline-flex;
    }

    .mobile-nav{
      display: none;
    }

    

    .toogle-nav{
      display: none;
    }

    main{
      margin-top: 75px;
    }

    .cartPanel{
      right: 200px;
      top: 75px;
    }

    .tutor .main{
      display: grid;
      grid-template-columns: 20% 78%;
      gap: 2%;
      min-height: 550px;
    }
    .tutor .nav{
      box-shadow: 0 0 10px gray;
      padding: 50px 20px;
      display: block;
      background-color: var(--color2);
    }

    .tutor .nav .nav-link{
      background-color: white;
      padding: 10px 20px;
      margin-bottom: 20px;
      color: var(--color2);
      font-weight: bold;
    }

  }


  @media screen and (max-width: 1100px) {


    .search-bar {
      display: none;
    }
  }

  @media screen and (min-width: 1100px) {

    .search-icon2{
      display: none;
    }
  }

  .search-icon2{
    margin-right: 10px;
  }

